body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: aliceblue;
}


.menu a{
    font-size: 15px;
    text-decoration: none;
    margin-left: 15px;
    color: #296cd8;
}

header img{
    height: 40px;
    width: 40px;
    float: right;
    padding-right: 15px;
    
}

li{
    list-style: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 18pt;
    
}


.exemplo li{
    background-color: fuchsia;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 0;
    
    
}



li:nth-child(2){
    background-color: #f4c141;
    height: 300px;
    width: 200px;
    
}

li:nth-child(3){
    background-color: firebrick;
    height: 400px;
    width: 200px;
}

li:nth-child(4){
    background-color: forestgreen;
    height: 300px;
    width: 200px;
}

li:nth-child(5){
    background-color: blue;
    height: 200px;
    width: 200px;
}

.exemplo{
    text-align: center;
    padding: 0;
}

.container ul{
    display: flex;
    border: white 2px;
    
    
    
}
.fds li{
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
      
    
    
    
}

.fds{
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    
    
}

#pudim{
    position: sticky;
    top: 80px;    
    
    
}

.yodown img{
    width: 200px;
    height: 160px;
    position: relative;
    bottom: 180px;
    left: 80px;
    justify-content: space-around;
    
    
}


